body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url(lol.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}